%p#notice= notice
%h1 Posts
%table
  %thead
    %tr
      %th Title
      %th tag
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td
          .tags
            - post.categories.each do |category|
              .tags__tag
                = category.tag_name
        %td= post.content
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Post', new_post_path
